<html>
    <head>    
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body >    
        <div class="head">здесь будет шапка</div>
        <div class="page">
            <div class="menu"> 
                <ul>    
                    <li><a class="" href="/">главная</a></li>
                    <li><a class="active" href="/contact">связь</a></li>
                    <li><a class="" href="/about">о себе</a></li>
                    <li><a class="" href="/facts">факты</a></li>
                    <li><a class="" href="/eat">еда</a></li>
                    
                </ul>
            </div>
            <div class="content">
                
                <h1>Обратная связь</h1>
                <div class="content_center">
                    <p>Заполни форму — сервер покажет, что ты отправил.</p>
                    <form action="/contact" method="post">
                        <p>Имя: <input id="name" class="float_right" type="text" name="name"></p>
                        <p>Проблема: <input id="problem" class="float_right" type="text" name="problem"></p>
                        <p>Опишите подробно ситацию: <input id="description" class="float_right" type="text" name="description"></p>
                        <p>Адрес: <input id="adress" class="float_right" type="text" name="adress"></p>
                        <button id="button_submit" class="button_submit" type="submit">Отправить</button>
                        <div id="toast" class="toast hidden">тут будет ответ сервера </div>
                        <div id="error" class="error hidden">тут будет текст ошибки </div>
                    </form>
                </div>
                
            </div>
        </div>
        
        <div class="footer">здесь будет подвал</div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
