<html>
    <head>    
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body >    
        <div class="head">здесь будет шапка</div>
        <div class="page">
            <div class="menu"> 
                <ul>    
                    <li><a class="" href="/">главная</a></li>
                    <li><a class="" href="/contact">связь</a></li>
                    <li><a class="" href="/about">о себе</a></li>
                    <li><a class="active" href="/facts">факты</a></li>
                    <li><a class="" href="/eat">еда</a></li>
                    
                </ul>
            </div>
            <div class="content">
                <h1><b>О себе</b></h1>
                <p><b><i>я был в 10 старнах</i></b></p>
                <p><b><i>мое любимое блюдо это жаренная картошка</i></b></p>
                <p><a href="/">На главную</a></p>
            </div>
        </div>
        <div class="footer">здесь будет подвал</div>
    </body>
</html>